@import '/colors';

body[accessibility~=colorblind] {
    font-weight: 800 !important;
}

body[accessibility~=highlight] {
    -webkit-tap-highlight-color: rgba(var(--accent-color-rgb), 0.5);
}

body[accessibility~=bold] {
    * {
        font-weight: 800 !important;
    }
}

body[accessibility~=noAnimations] {
    * {
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}