@import "../../../sass/colors";

%ellipsisTextWrapper {
	position: relative;
	overflow: hidden;
}

%ellipsisText {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	min-width: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.root {
	flex: 1 1 0;

	display: flex;
	flex-direction: column;
}

.header {
	position: relative;
	$normal-size: 22px;
	$icon-size: 30px;
	flex: 0 1 auto;
	padding: 21px 32px;
	height: $normal-size;
	box-shadow: 0px 1px 6px 0px rgba(33,33,33,0.3);
	display: flex;
	align-items: center;

	@include themify($themes) {
		color: themed('main-text');
		background: themed('main');
	}

	@media only screen and (max-width: 900px) {
		padding: 17px 20px;
		height: $icon-size;
    }

	.mobileMenu {
		display: none;
		width: $icon-size;
		height: $icon-size;
		vertical-align: middle;
		margin-right: 10px;
		cursor: pointer;

		span {
			width: $icon-size;
			height: $icon-size;
			vertical-align: middle;
		}

		@media only screen and (max-width: 900px) {
			display: block;
		}
	}

	.items {
		vertical-align: middle;
		display: flex;
		align-items: center;
		flex: 1 1 auto;

		.mobileDrawer {
			margin-right: 20px;
		}

		.icon {
			height: $normal-size;
			width: $normal-size;
			vertical-align: middle;
			margin-right: 8px;
			flex: 0 0 auto;

			@include themify($themes) {
				fill: themed('icon');
			}
		}

		.name {
			//@extend %ellipsisTextWrapper;
			min-width: 0;
			max-width: 200px;
			//flex: 0 4 auto;
			font-size: 14px;
			line-height: $normal-size;
			font-weight: 600;
			white-space: nowrap;
			overflow: hidden;
			//text-overflow: ellipsis;

			/*.name {
				font-size: 14px;
				line-height: $normal-size;
				font-weight: 600;
				min-width: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}*/
		}

		.indicator {
			display: none;
			width: 10px;
			height: 10px;
			margin-left: 8px;
			border-radius: 50%;
			background-color: gray;
			flex: 0 0 auto;
	
			&.online { background-color: $green; }
			&.streaming { background-color: $streaming; }
			&.away { background-color: $yellow; }
			&.busy { background-color: $red; }

			@media only screen and (max-width: 900px) {
				display: inline-block;
			}
		}

		.divider {
			display: block;
			width: 1px;
			height: $normal-size;
			margin: 0 12px;
			flex: 0 0 auto;
			border-radius: 60px;
			box-sizing: border-box;
			background: $divider;
		}

		.descWrapper {
			@extend %ellipsisTextWrapper;
			flex: 1 20 auto;
			width: 100%;
			height: $normal-size;
			
		    .description {
				@extend %ellipsisText;
				width: calc(100% - 20px);
		        color: white;
		        font-size: 12px;
				line-height: $normal-size;
		    }
		}

		@media only screen and (max-width: 900px) {
			.divider, .descWrapper {
				display: none;
			}
		}
	}

	.menu {
		display: inline-flex;
		flex: 0 0 auto;

		.menuIcon {
			margin-left: 10px;
			cursor: pointer;
		}

		.search {
			cursor: pointer;
			margin: 0 10px;
		}

		.feedback {
			cursor: pointer;
			margin-left: 20px;
		}
	}
}

.content {
	flex-grow: 1;
	overflow-x: auto;
	padding: 0px 30px;
	user-select: text;

	@include themify($themes) {
		background: themed('main');
		color: themed('body-text')
	}

	@media only screen and (max-width: 900px) {
		padding: 0 20px;
	}
}

.footer {
	flex-shrink: 1;
	@include themify($themes) {
		background: themed('main');
	}
}