.separator {
	display: flex;
	align-items: center;
	user-select: none;

	.bar {
		flex: 1 1 auto;
		height: 1px;
		background: gray;
		margin: 0px 10px;
		border-radius: 60px;

		@media only screen and (max-width: 900px) {
			margin: 0 8px;
		}
	}

	.text {
		font-size: 14px;
		flex: 0 0 auto;
		color: gray;
	}

	&.new {
		.bar { background: #DF3535; }
		.text { color: #DF3535; }
	}
}