.menu {
    background: #313131;
    padding: 10px;

    .connected {
        .status {
            font-size: 0.8125rem;
            font-weight: 600;
            color: #36AD93;

            &.connected {color: #36AD93}
            &.connecting {color: #36AD93}
            &.disconnected {color: #36AD93}
        }
    }
}

.channel {
    font-size: 12px;
    color: #8F8F8F;
}

.disconnect {
    fill: #707070 !important;
    cursor: pointer;
    transition: fill .3s; //to fix later

    &:hover {fill: black !important;}
    &:active {fill: black !important;}
}

.icon {
    height: 16px;
    width: 16px;
    margin-right: 3px;
    fill: #8F8F8F !important;
}

.connectedUsers {
    margin: 12px 0;
}

.mute {
    fill: #36AD93 !important;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.deafen {
    fill: #BCBCBC !important;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.volumeBar {
    display: inline-block;
    margin: 0 15px;
    width: calc(100% - 50px);
    height: 4px;
    vertical-align: middle;
    background: #505050;
    border-radius: 60px;
}