.profile {
	display: flex;
	margin: 10px 12px 5px 10px;

}

.picture {
	margin: 10px;
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	justify-content: center;
	overflow: hidden;
	position: relative;
	cursor: pointer;

	img {
		height: 100%;
	}
}

.username {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-weight: 600;

	div {
		max-width: 140px;

		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}