.profile {
	display: flex;
	margin: 14px 12px;
	height: 38px;
	width: 262px - (12px * 2);
	align-items: center;
	user-select: text;
}

.picture {
	display: inline-block;
	height: 38px;
	width: 38px;
	border-radius: 50%;
	background-color: #434343;
	justify-content: center;
	position: relative;
	cursor: pointer;
	margin-right: 8px;

	background-size: cover;
	background-position: center;
}

.username {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-weight: 600;
	font-size: 14px;
	flex-grow: 1;

	div {
		max-width: 150px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.status {
	color: #848484;
	font-size: 12px;
	user-select: none;
}

.settings {
	height: 20px;
	width: 20px;
	cursor: pointer;
	fill: #E8E8E8;
}