.icon {
	margin: 8px 15px;
	display: inline-block;
	height: 54px;
	width: 54px;
	border-radius: 6px;
	justify-content: center;
	overflow: hidden;
	position: relative;
	border: 2px solid #333234;
	cursor: pointer;
	transition: .3s;
	background-color: grey;
	background-size: cover;
	background-position: center;
	opacity: 0.99;

	&:hover {
		border: 2px solid white;
	}

	&.active {
		border: 2px solid red;
	}

	&.active::before { // Selected server
		display: block;
		width: 8px;
		background: white;
		height: 40px;
	}

	&.pinged::before {
		
	}
}