.icon {
	margin: 8px 12px;
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 6px; /* leave it pls, makes it more unique */
	justify-content: center;
	overflow: hidden;
	position: relative;
	cursor: pointer;

	transition: 0.3s border-radius;

	//&.active { border-radius: 6px; }

	img {
		height: 100%;
	}

	&::before {
		width: 8px;
		background: white;
		height: 40px;
	}
}