.icon {
	margin: 8px 15px;
	display: inline-block;
	height: 54px;
	width: 54px;
	border-radius: 6px;
	justify-content: center;
	overflow: hidden;
	position: relative;
	border: 2px solid transparent;
	cursor: pointer;
	transition: .3s;

	&:hover {
		border: 2px solid white;
	}

	&.active {
		border: 2px solid red;
	}

	img {
		height: 100%;
	}

	&::before {
		display: block;
		width: 8px;
		background: white;
		height: 40px;
	}
}