@import '../../sass/colors';

.menu {
	position: absolute;
	bottom: 66px;
	width: 262px;
	padding: 10px 0;
	@include themify($themes) {
		background: themed('profile');
	}

	&.hidden {
		display: none;
	}

	.picker {
		margin: 0 10px;
	}

	.divider {
		margin: 4px 0;
		height: 1px;
		width: 100%;
		border-radius: 60px;
		@include themify($themes) {
			background: themed('divider');
		}
	}

	.status {
		padding: 10px 20px;
		border-radius: 4px;
		transition: background-color .3s;
		box-sizing: border-box;
		cursor: pointer;
		@include themify($themes) {
			&:hover { background-color: themed('button-hover'); }
			&:active { background-color: themed('button-active'); }
		}

		$name-size: 24px;
		$dot-size: 10px;

		.name { line-height: $name-size; }
		
		.icon {
			height: 20px;
			width: 20px;
			
		}
		.dot {
			display: inline-block;
			height: $dot-size;
			width: $dot-size;
			border-radius: 50%;
			background: gray;
			&.online { background: $green; }
			&.away { background: $yellow; }
			&.busy { background: $red; }

			$top-bottom-margin: ($name-size - $dot-size) / 2;
			margin: $top-bottom-margin 8px $top-bottom-margin 0px;
		}

		.dotAndName {
			display: flex;

			> .dot, > span {
				vertical-align: middle;
				flex: 0 0 auto;
			}

			.nameWrapper {
				flex: 1 1 auto;
				display: flex;
				flex-direction: column;

				.name {
					flex: 1 1 auto;
					line-height: $name-size;
				}

				.description {
					flex: 1 1 auto;
					display: block;
					font-size: 11px;
					color: #AFAFAF; //keep this
				}
			}
		}
	}
}

.iconAndName {
	display: flex;
	align-items: center;

	.icon {
		margin-right: 4px;
	}
}