@import "../../../sass/colors";

.parent {
	height: 34px;
	margin: 5px 0;
	padding: 5px;
	display: flex;
	border-radius: 4px;
	transition: .2s;
	cursor: pointer;
	align-items: center;
	opacity: .99;
	@include themify($themes) {
		&:hover, &.active {
			background: themed('button-hover');
			.avatar .indicator { border: 2px solid themed('button-hover') !important; }
		}
		&:active {
			background: themed('button-active');
			.avatar .indicator { border: 2px solid themed('button-active') !important; }
		}
	}

		.avatar {
			display: flex;
			margin-right: 10px;
			height: 30px;
			width: 30px;
			border-radius: 50%;
			position: relative;
			flex: 0 0 auto;
			background-position: center;
			background-size: cover;
		}
		
		.indicator {
			position: absolute;
			height: 10px;
			width: 10px;
			right: -3px;
			bottom: -3px;
			border-radius: 7px;
			background-color: grey;
			transition: .2s;
			@include themify($themes) {
				border: 2px solid themed('sub');
			}
			
			&.online { background-color: $green; }
			&.streaming { background-color: $streaming; }
			&.away { background-color: $yellow; }
			&.busy { background-color: $red; }

			&.colorblind {
				&.streaming { background-image: $streaming; }
				&.away { background-image: $yellow; }
				&.busy { background-image: $red; }
			}
		}
	
	.username {
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-weight: 600;
		font-size: 0.875rem;
		padding-right: 5px;
	
		.usernameInline {
			max-width: 180px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			display: flex;
	
			> span {
				flex: 0 1 auto;
			}
	
			.mobile {
				margin-left: 4px;
				flex: 0 0 auto;
				&, span, svg {
					fill: gray;
					width: 15px;
					height: 15px;
				}
			}
		}
	
		.status {
			max-width: 175px;
			color: #BCBCBC;
			font-weight: 400;
			font-size: 0.6875rem;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}