@import "../../../sass/colors";

.parent {
	height: 34px;
	margin: 5px 0;
	padding: 5px 8px;
	display: flex;
	border-radius: 4px;
	transition: .2s;
	cursor: pointer;
	align-items: center;
	opacity: .99;
	@include themify($themes) {
		&:hover {
			background: themed('button-hover');
			.avatar .indicator { border: 2px solid themed('button-hover') !important; }
		}
		&:active {
			background: themed('button-active');
			.avatar .indicator { border: 2px solid themed('button-active') !important; }
		}

		&.active {
			cursor: default;
			transition: none;
			background: themed('button-hover') !important;
			.avatar .indicator { border: 2px solid themed('button-hover') !important; }
		}
	}

	@media only screen and (max-width: 900px) {
		padding: 10px;
	}

		.avatar {
			$size: 30px;
			display: flex;
			margin-right: 10px;
			height: $size;
			width: $size;
			border-radius: 50%;
			position: relative;
			flex: 0 0 auto;
			background-color: grey;
			background-position: center;
			background-size: cover;

			.indicator {
				position: absolute;
				height: $size / 3;
				width: $size / 3;
				right: -3px;
				bottom: -3px;
				border-radius: 50%;
				background-color: grey;
				transition: background-color .2s;
				@include themify($themes) {
					border: 2px solid themed('sub');
				}
				
				&.online { background-color: $green; }
				&.streaming { background-color: $streaming; }
				&.away { background-color: $yellow; }
				&.busy { background-color: $red; }
				&.colorblind {
					&.streaming { background-image: $streaming; }
					&.away { background-image: $yellow; }
					&.busy { background-image: $red; }
				}
			}
		}
	
	.username {
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-weight: 600;
		font-size: 0.875rem;
	
		.usernameInline {
			display: flex;
			align-items: center;
			max-width: 180px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
	
			> span {
				flex: 0 1 auto;
			}
	
			.mobile {
				display: flex;
				align-self: center;
				margin-left: 4px;
				flex: 0 0 auto;
				&, span, svg {
					fill: gray;
					width: 18px;
					height: 18px;
				}
			}
		}
	
		.status {
			display: flex;
			align-items: center;
			max-width: 170px;
			color: #BCBCBC;
			font-weight: 400;
			font-size: 0.6875rem;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;

			.icon {
				fill: #aaaaaa;
				height: 15px;
				width: 15px;
				margin-left: 3px;
			}
		}
	}
}

%notification {
	position: absolute;
	top: 50%;
	right: -12px;
	transform: translate(0%, -50%);
	z-index: 5;
	$size: 32px;
	$padding: 5px;
	border-radius: 6px 0 0 6px;
	height: $size - ($padding * 2);
	padding: $padding;
	font-size: 0.75rem;
	line-height: 10px;
	font-weight: 600;
}

> .mention {
	background: #DF3535;
	@extend %notification;
}

> .unread {
	background: #EFEFEF;
	@extend %notification;
	width: 5px;
	padding: 3px 0;
}