@import "../../../sass/colors";

.parent {
	margin: 5px 0;
	padding: 5px;
	display: flex;
	border-radius: 4px;
	transition: .2s;
	cursor: pointer;
	align-items: stretch;
	opacity: .99;

	@include themify($themes) {
		&:hover, &.active { background: themed('button-hover'); }
		&:active { background: themed('button-active'); }
	}
}

.avatar {
	display: flex;
	align-self: center;
	margin: 1px;
	margin-right: 10px;
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	justify-content: center;
	overflow: hidden;
	position: relative;
	flex: 0 0 auto;
	background-position: center;
	background-size: cover;
	border: 2px solid grey;
	
	&.online { border: 2px solid $green; }
	&.streaming { border: 2px solid $streaming; }
	&.idle { border: 2px solid $yellow; }
	&.dnd { border: 2px solid $red; }
}

.username {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-weight: 600;
	font-size: 0.875rem;
	padding-right: 5px;

	.usernameInline {
		max-width: 180px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		display: flex;

		> span {
			flex: 0 1 auto;
		}

		.mobile {
			margin-left: 4px;
			flex: 0 0 auto;
			&, span, svg {
				fill: gray;
				width: 15px;
				height: 15px;
			}
		}
	}

	.status {
		max-width: 175px;
		color: #BCBCBC; //keep this
		font-weight: 400;
		font-size: 0.6875rem;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}