@import "../../../sass/colors";

.friend {
	display: flex;
	padding: 12px 20px;
	border-radius: 6px;
	align-items: center;
	justify-content: space-between;
	transform: scaleY(1);
	transform-origin: 50% 0%;
	opacity: 1;
	transition: transform 0.3s, opacity 0.3s, background-color 0.3s;

	@include themify($themes) {
		color: themed('body-text');
		background-color: themed('main');
		&.clickable {
			cursor: pointer;
			&:hover { background-color: lighten(themed('main'), 5%); }
			&:active { background-color: darken(themed('main'), 2%); }
		}
	}

	&.hidden {
		transform: scaleY(0);
		opacity: 0;
	}

	> .name {
		display: flex;
		align-items: center;
		> .avatar {
			height: 50px;
			width: 50px;
			margin-right: 15px;
			border-radius: 50%;
			background-color: grey;
			background-size: cover;
			background-position: center;
			flex: 0 0 auto;
		}

		> .username {
			min-width: 0;
			margin-right: 10px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			@media only screen and (min-width: 901px) {
				width: calc(40vw - 300px);
			}
		}
	}

	&:hover > .buttons.desktopOnly { opacity: 1; }
	> .buttons {
		display: flex;
		&.desktopOnly {
			opacity: 0;
			transition: opacity 0.3s;
			@media only screen and (max-width: 900px) {
				display: none;
			}
		}

		@mixin button($main-color) {
			height: 50px;
			width: 50px;
			border-radius: 4px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: background-color .3s;
			@include themify($themes) { background-color: themed('home'); }
			&:hover { background-color: lighten($main-color, 5%); }
			&:active { background-color: darken($main-color, 5%); }

			> span {
				width: 25px;
				height: 25px;
			}
		}

		.accept {
			@include button($accept);
			margin-right: 10px;
		}

		.decline {
			@include button($red);
			margin-left: 10px;
		}

		.cancel {
			@include button(gray);
		}

		@include themify($themes) {
			$button-call: themed('button-call');
			.call {
				@include button($button-call);
				margin-right: 10px;
			}

			.videochat {
				@include button($button-call);
				margin: 0px 10px;
			}
		}

		.remove {
			@include button($red);
			margin-left: 10px;
		}
	}
}

.status, .mobileStatus {
	> .indicator {
		display: block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: gray;
		flex: 0 0 auto;

		&.online { background-color: $green; }
		&.streaming { background-color: $streaming; }
		&.away { background-color: $yellow; }
		&.busy { background-color: $red; }
	}
}

@media only screen and (max-width: 900px) {
	.status { display: none; }
	.mobileStatus { display: block; }
}

@media only screen and (min-width: 901px) {
	.status {
		display: flex;
		align-items: center;
		> .indicator { margin-right: 8px; }
	}
	.mobileStatus { display: none; }
}