/*.feed {
	padding: 8px 20px;
	
	.name {
		font-size: 14px;
	}
}*/

.feed {
	.feedTab {
		padding: 10px;
		font-size: 14px;
	}
}

.category {
	padding: 5px 10px;
	display: flex;

	.title {
		display: flex;
  		align-items: center;
		flex-grow: 1;
	}

	.button {
		height: 20px;
		width: 20px;
		cursor: pointer;
		opacity: .7;
		transition: .3s;
		&:hover {
			opacity: 1;
		}
	}

	.nearby {
		height: 18px;
		width: 18px;
		fill: #5389D9 !important;
		margin-right: 5px;
	}
}

.categoryNearby {
	padding: 5px 10px;
	display: none;

	.title {
		display: flex;
  		align-items: center;
		flex-grow: 1;
	}

	.button {
		height: 20px;
		width: 20px;
		cursor: pointer;
		opacity: .7;
		transition: .3s;
		&:hover {
			opacity: 1;
		}
	}

	.nearby {
		height: 18px;
		width: 18px;
		fill: #5389D9 !important;
		margin-right: 5px;
	}
}

.directMessages {
	margin: 10px;
}

.title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.feed > .icon {
	font-size: 30px;
}