@import "../../../sass/colors";

input[type=range] {
	-webkit-appearance: none;
	max-width: 800px;
	width: 100%;
	margin: 15.5px 0;
  }

  %thumb {
	-webkit-appearance: none;
	height: 35px;
	width: 8px;
	border-radius: 4px;
	cursor: e-resize;
	margin-top: -15.7px;
	@include themify($themes) {
		background: themed('icon');
		//border: 2px solid themed('sub');
	}
	@media screen and (max-width: 900px) {
		width: 18px;
	}
  }

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-thumb { @extend %thumb; }
/*input[type=range]::-moz-range-thumb { @extend %thumb; }
input[type=range]::-ms-thumb { @extend %thumb; }*/

input[type=range]:focus::-webkit-slider-runnable-track {
	background: var(--accent-color, #7B68EE);
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: var(--accent-color, #7B68EE);
	border-radius: 60px;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: var(--accent-color, #7B68EE);
}

  input[type=range]::-ms-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
  }

  