@import "../../../sass/colors";

.panel {
	@include themify($themes) {
		color: themed('body-text');
	}

	.themePicker {
		max-width: 650px;
		display: flex;
		box-sizing: border-box;
		.type {
			display: block;
			color: grey;
			font-size: 0.875rem;
			font-weight: 600;
			text-transform: uppercase;
		}
	
		.theme {
			flex: 1 1 auto;
			display: inline-block;
			margin: 0 8px;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}

			img {
				width: 100%;
				height: auto;
				border-radius: 8px;
				border: 2px solid transparent;
				cursor: pointer;
				transition: border .3s;
				//pointer-events: none;

				&:hover, &.active {
					border: 2px solid var(--accent-color, mediumslatepurple);
				}

				&.active {
					cursor: default;
				}
			}
		}
	}
}

.colorPicker {
	display: flex;
	.customColor {
		position: relative;
		height: 64px;
		width: 64px;
		padding: 0;
		border: none;
		border-radius: 3px;
		cursor: pointer;
		outline: 0;
		margin-right: 6px;

		.check, .edit {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 61px;
			width: 61px;
			transition: opacity 0.3s;
		}
		
		.check { opacity: 1; }
		.edit { opacity: 0; }

		&:hover {
			.check { opacity: 0; }
			.edit { opacity: 1; }
		}
	}

	.colorGrid {
		display: grid;
		grid-gap: 6px;
		.check {
			height: 25px;
			width: 25px;
			fill: white;
		}
		.color {
			padding: 0;
			height: 25px;
			width: 25px;
			border: none;
			border-radius: 3px;
			cursor: pointer;
			outline: 0;
			border: 2px solid transparent;
			transition: border .3s;

			@include themify($themes) {
				&:hover, &.selected {
					border: 2px solid themed('icon')
				}
			}
		}
	}
}