@import "../../../sass/colors";

.banner {
	color: white;
	background: grey;
	display: none;
	width: 100%;
	padding: 15px 0;
	text-align: center;

	@media screen and (min-width: 901px) {
		display: block;
	}

	&.streamerMode { background: $streaming; }
	&.strikeWarning { background: $red; }
	&.unclaimed { background: $unclaimed; }

	&.mobile {
		display: block;
		@media screen and (min-width: 901px) {
			display: none;
		}
	}
	
	.icon {
		display: inline-block;
	}

	a {
		color: #E8E8E8;
		padding-left: 10px;
		text-decoration: underline;
		cursor: pointer;
	}
}

.title {
	font-weight: bold;
	text-transform: uppercase;
}

.text {
	font-size: 0.875rem;
}