%accent {
	background: var(--accent-color, rgb(160, 160, 160));
}

%border {
	border: 2px solid #AAAAAA;
}

%border-radius {
	border-radius: 4px;
}

%button {
	@extend %accent;
	@extend %border-radius;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 0.875rem;
}

%checkbox {
	@extend %accent;
	padding: 10px;
}

%input {
	@extend %border;
	@extend %border-radius;
	background: grey;
}

.checkboxWrapper {
	
	&.border {
		@extend %border-radius;
		@extend %border;
	}
}