@import '../../sass/colors';

::-webkit-scrollbar-track {
	@include themify($themes) { background-color: themed('scrollbar'); }
}

::-webkit-scrollbar {
	width: 6px;
	@include themify($themes) { background-color: themed('scrollbar'); }
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	@include themify($themes) { background-color: themed('scrollbar-thumb'); }
}

.scrollable {
	overflow-y: scroll;

	/** Firefox 64; Mozilla is doing God's work here */
	scrollbar-width: thin;
	@include themify($themes) { scrollbar-color: themed('scrollbar-thumb') themed('scrollbar'); }
}

.hidden {
	overflow-y: scroll;
	
	&::-webkit-scrollbar {
		width: 0 !important
	}

	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	scrollbar-width: none; // Firefox 64 +
}