@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	user-select: none;
}

.root {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #181818;
	display: flex;
}

.sidebar {
	display: flex;
	flex-direction: column;

	max-height: 100%;
	flex-shrink: 1;

	&.main {
		background: #181818;
		width: 75px;

		display: flex;

		.guilds {
			flex-grow: 1;

			.filler {
				height: 85px;
			}
		}

		.add {
			flex-shrink: 1;
			margin-top: -85px;

			span {
				position: relative;
				display: block;

				font-size: 4.4em;
				color: #7B68EE;

				height: 85px;
				background: linear-gradient(#00000000, #181818);
			}
		}
	}

	&.browser {
		background: #212121;
		color: #EFEFEF;

		width: 280px;
		border-radius: 20px 0 0 20px;
	}
}