@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility !important;
  }

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	user-select: none;
	background: #333234;
	overscroll-behavior: contain;

	/* Disables highlight color on mobile devices - this function can be disabled by enabling accessibility mode in settings */
	-webkit-tap-highlight-color: transparent;
}

.root {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #333234;
	display: flex;
}

.mainSidebars {
	background: #333234;
	display: flex;
}

.drawerPaper {
	overflow-y: unset !important;
	border: none !important;
}

.dockedMainSidebar {
	@media only screen and (min-width: 901px) {
		width: 350px;
	}
}

.sidebar {
	$sidebar-width: 88px;
	display: flex;
	flex-direction: column;

	max-height: 100%;
	flex-shrink: 1;

	&.main {
		background: #333234;
		width: $sidebar-width;

		display: flex;
		position: relative;

		.home {
			margin: 8px 15px;
			display: inline-block;
			height: 54px;
			width: 54px;
			border-radius: 6px;
			justify-content: center;
			overflow: hidden;
			position: relative;
			border: 2px solid transparent;
			background: #4D4D4D;
			cursor: pointer;
			transition: .3s;

			span {
				$icon-size: 26px;
				margin: (54px - $icon-size) / 2;
				width: $icon-size;
				height: $icon-size;
				svg {
					width: $icon-size;
					height: $icon-size;
				}
			}

			&:hover { background: #A0A0A0; }
			&.active { background: grey; }
		}

		.divider {
			$width: 60px;
			display: block;
			height: 1px;
			width: $width;
			margin: 10px ((88px - $width) / 2);
			background: #707070;
			border-radius: 60px;
		}

		.guilds {
			flex-grow: 1;

			.filler {
				height: $sidebar-width;
			}
		}

		.add {
			$button-margin: 10px;
			flex-shrink: 1;
			width: $sidebar-width;
			background: linear-gradient(transparent, #333234);
			z-index: 1;
			position: fixed;
			bottom: 0px;
			left: 0px;

			svg { cursor: pointer; }

			span, svg {
				position: relative;
				display: block;

				fill: var(--accent-color, #7B68EE);

				width: $sidebar-width - ($button-margin * 4);
				height: $sidebar-width - ($button-margin * 4);
				margin: $button-margin;
			}
		}
	}

	&.browser {
		background: #212121;
		color: #EFEFEF;
		width: 262px;
		border-radius: 10px 0 0 10px;
		height: 100vh;
	}
}